# PyCharm 项目文件
.idea
.idea/
*.iml
*.ipr
*.iws
.env

# Python 编译文件和缓存
__pycache__/
*.py[cod]
*$py.class

# 虚拟环境
venv/
env/
ENV/
.venv/

# 包安装目录
site/

# 单元测试和覆盖率报告
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# 日志和数据库
*.log
*.sqlite
*.db

# 操作系统生成的文件
.DS_Store
Thumbs.db

# 开发工具配置文件
.vscode/
*.swp
*.swo

# 打包文件和安装包
*.egg-info/
*.egg
dist/
build/
*.mo
*.pot

# Jupyter Notebook 检查点
.ipynb_checkpoints/

# 环境变量文件
.env
.venv
.env.local
.env.development
.env.test
.env.production

# 其他开发文件
*.bak
*.tmp
*.sublime-workspace

models/
logs/cookie/xiaohongshu_state.json
cookie/*.json
picture/*.png
